body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: rgb(165, 160, 160);
}
h1 {
  font-size: 90px;
}
.happy {
  color: #ff9933;
  margin-bottom: 0px;
}
.ind {
  color: #ffffff;
  margin: 0 auto;
}
.day {
  color: #138808;
  margin-top: 0px;
}
.pend {
  color: #000080;
}
